@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto-Light.ttf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}
.container2 {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.container3 {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.container4 {
    max-width: 1320px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.container5 {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    text-decoration: none;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
}
.container6 {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    text-decoration: none;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
}
.container7 {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    text-decoration: none;
    font-family: roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
}


header {
    background-color: #f4f4f5;
    position: relative;
    padding-top: 31px;
}

header .frame {
    position: absolute;
}

header .frame:first-of-type {
    right: 0;
    bottom: 156px;
}

header .frame:last-child {
    left: 0;
    bottom: 156px;
}

nav {
    margin-bottom: 81px;
}



nav .nav_top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-bottom: 1px solid #E3E3E3;
}

nav .nav_bottom ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

nav .nav_bottom ul a {
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}

nav .nav_top .profile a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #1E2832;
}

nav .nav_top .profile a:first-child {
    margin-right: 22px;
}


.list {
    display: flex;
    padding: 0;
    list-style: none;   
}
.list1 {
    color: rgba(30, 40, 50, 1);
}
.list2 {
    color: rgba(0, 0, 0, 0.5);
}


a:link {
    text-decoration: none;
}

.button1 {
    background-color: rgba(30, 40, 50, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    width: 92px;
    height: 32px;
}

.box {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.home {
    display: flex;
    justify-content: space-between;
    padding-right: 94px;
}

.home_left {
    padding-top: 74px;
}

.home_left h1 {
    margin-bottom: 52px;
    font-family: 'Roboto';
    font-size: 74px;
    font-weight: 300;
    line-height: 55px;
}

.home_left p {
    margin-bottom: 66px;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 400;
    line-height: 55px;
    color: #000000;
}
.home_left button {
    background-color: #1E2832;
    font-family: 'Roboto';
    font-size: 29px;
    font-weight: 400;
    line-height: 33.8px;
    color: #fff;
    height: 72px;
    padding-left: 26px;
    padding-right: 26px;
    border: 0;
    cursor: pointer;
}

    


.text {
    font-size: 34px;
    font-family: Roboto;
    position: absolute;
    transform: rotate(-90deg);
    margin-left: -350px;
    margin-top: 280px;
}
.text2 {
    font-size: 50px;
    text-align: center;
    font-family:Open Sans ;
}

.satauri {
    width: 100%;
}
.text3 {
    text-align: center;
    font-size: 50px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.col {
    width: 100%;
    margin-top: 15px;
    margin-left: 40px;
}

.parent1 {
    display: flex;
}
.parent2 {
    display: flex;
}


.productName {
    font-family: "open sans";
    color: rgba(0, 0, 0, 0.5);
    margin-left: 50px;
    margin-top: -20px;
}
.productPrice {
    font-family: "open sans";
    color: rgba(0, 0, 0, 1);
    text-align: end;
    display: inline-block;
}
.productPrice02 {
    font-family: "open sans";
    color: rgba(0, 0, 0, 1);
    text-align: end;
    display: inline-block;
}
.productPrice3 {
    font-family: "open sans";
    color: rgba(255, 111, 97, 1);
    text-align: end;
    display: inline-block;
}
.h6 {
    margin-left: 50px;
    font-size: 16px;
}
.zara {
    width: 100%;
}
.zaralogo {
    width: 191px;
    height: 81px;
    margin-top: -433px;
    margin-left: 500px;
}
.price {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
